{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <title>Document</title>
</head>
<body>
    <form action="/" method="GET">
        <input type="text" name="query">
        <!-- <input type="hidden" name="test" value="test">
        <input type="hidden" name="test2" value="test2"> -->
        <button type="submit">검색</button>
        <button type="button" onclick="initSearch();">초기화</button>
    </form>

    <div class="container">
        <h2>Hover Rows</h2>
        <p>The .table-hover class enables a hover state on table rows:</p>            
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>name</th>
                    <th>address</th>
                    <th>tel</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.addr }}</td>
                    <td>{{ item.tel }}</td>
                    <td><button type="button" onclick="selectItem();">선택</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>




    <script>
        function initSearch() {
            location.replace("http://127.0.0.1:8000/");
        }

        function selectItem() {
            console.log(this)
        }
    </script>  
</body>
</html>
